<template>
    <div>
        <h2>{{ message }}</h2>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                message: "Salam Muafakat"
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>